<!-- Main component for a primary marketing message or call to action -->
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Time</th>
            <th ng-repeat="location in locations">{{location}}</th>
        </tr>
    </thead>
    <tbody ng-repeat="(slot, sessionLocation) in sessions">
        <tr>
            <td>{{slot}}</td>
            <td ng-repeat="(location, session) in sessionLocation">
                <a class="btn btn-primary" ng-href="#/conference/{{ session.sessionUrl }}">
                    {{ session.title }}
                </a>
            </td>
        </tr>
    </tbody>
</table>