<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Créez votre conférence !</h1>

    <button class="btn btn-primary" ng-click="import()">Importer votre conférence</button>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success hide" id="importSuccess">Votre import s'est terminé avec succès ! Il est en cours de validation par un administrateur.</div>
            <div class="alert alert-info hide" id="importEnCours">Import de votre conférence en cours</div>
            <div class="alert alert-danger hide" id="importFail">Echec dans l'import de votre conférence</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <form role="form" class="ng-invalid ng-invalid-required" name="createForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group well">
                            <label for="conferenceName">Nom de la conférence</label>
                            <input type="text" ng-model="conference.name" class="form-control" id="conferenceName" placeholder="Jug Summer Camp">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group well">
                            <label for="conferenceLocation">Ville</label>
                            <input type="text" ng-model="conference.location" class="form-control" id="conferenceLocation" placeholder="La Rochelle">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group well">
                            <label for="conferenceSiteWeb">Site Web</label>
                            <input type="text" ng-model="conference.siteWeb" class="form-control" id="conferenceSiteWeb" placeholder="http://">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group well">
                            <label for="conferenceIllustration">Illustration</label>
                            <input type="file" id="conferenceIllustration" accept="image/*" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group well">
                            <button class="btn btn-default" ng-click="createPicker()">Choisir le programme</button>
                            <img ng-src="{{ spreadsheetIcon }}" src="" ng-show="spreadsheetIcon"/> {{spreadsheetName }}
                            <p class="help-block">Un exemple de spreadsheet est disponible <a target="_blank" class="label label-info" href="https://docs.google.com/spreadsheet/ccc?key=0An_zcXFldBWgdEhZY0NHMTBndTF3LXJjTEcxeFFGTXc&usp=sharing">ICI</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4" ng-show="conference.baniereUrl">
            <img ng-src="{{ conference.baniereUrl }}" class="img-thumbnail img-responsive"/>
        </div>
    </div>
</div>