<!-- Main component for a primary marketing message or call to action -->
<ol class="breadcrumb">
    <li><a href="#/conference">Conferences</a></li>
    <li><a ng-href="#/conference/{{ idConference }}">Planning</a></li>
    <li class="active">Session</li>
</ol>
<div class="jumbotron session">
    <h2>{{ session.title }}</h2>
    <h4>{{ session.speaker }}</h4>
    <h4><em>{{ session.location }}</em></h4>
    <p>{{ session.description }}</p>
</div>

<div class="row" style="padding-bottom: 5px;">
    <div class="col-md-4" >
        <form role="form">
            <div class="form-group" ng-show="!isLogged()">
                <label for="authorNickname">Pseudonyme</label>
                <input type="text" class="form-control" id="authorNickname" ng-model="newComment.authorNickname" placeholder="Toto">
            </div>
            <div class="form-group">
                <label for="content">Commentaire</label>
                <textarea type="textarea" class="form-control" id="content" rows="5" ng-model="newComment.content" placeholder="C'était top !"></textarea>
            </div>
            <button type="submit" ng-click="newComment()" class="btn btn-default">Envoyer</button>
        </form>
    </div>
</div>

<div class="row" ng-repeat="comment in session.comments">
    <div class="col-md-6"  style="border-top: 1px solid rgba(0, 0, 0, 0.14);">
        <h4>{{ comment.authorNickname }}</h4>
        <p>{{ comment.content }}</p>
    </div>
</div>

